{%  extends "templates/web.html" %}
{% block title %}{{ _("Home") }}{% endblock %}
{% block page_content %}
    <div id="canvas" class="center-container">
        <h2>{{ company_name }}</h2>
        <div class="item-searchbar">
            <input
                id="search_input"
                type="text"
                placeholder="What are you looking for ?"
            />
        </div>
        <div id="results" data-items="{{ items }}"> </div>
        <button onclick="location.href='http://accounting.test:8000/catalog'">
            Catalog
        </button>
    </div>
{% endblock %}