{% extends "templates/web.html" %}

{% block page_content %}
<div id="container">
    <div class="py-20 row">
        <div class="col-sm-4">
            <img id="item_image" src="{{ image }}" alt="{{ title }}">
        </div>
        <div class="col">
            <h3>{{ title }}</h3>
            <div>
                <span class="lead">{{ standard_selling_rate }} Rs</span>
            </div>
            <p>{{ description }}</p>
            <div id="bottom-segment">
                <button
                        id="add_to_cart_button"
                        onclick="on_add_to_cart_click()"
                        type="button">
                    Add to Cart
                </button>
                <button
                        id="view_cart_button"
                        onclick="on_view_cart_click()"
                        type="button">
                    View Cart
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!-- js should be loaded in body! -->>
<script>
    {% include "frappe_accounting_app/frappe_accounting_app/doctype/item/templates/item.js" %}
</script>
<style>
    {% include "frappe_accounting_app/frappe_accounting_app/doctype/item/templates/item.css" %}
</style>
{% endblock %}

<!-- this is a sample default web page template -->